[submodule "Sol-LTX-Infer"]
	path = Sol-LTX-Infer
	url = git@github.com:HaozheLiu-ST/Sol-LTX-Infer.git
	branch = codex/cosmos3-run-env
[submodule "Hunyuan-Diffusers"]
	path = Hunyuan-Diffusers
	url = /home/haozhel/lustre/hunyuan-diffusers-runtime
